<div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          
          <th>Logo</th>
            <th>Title</th>
            <th>Km/Month</th>
            <th>Price</th>
            <th>TruckType</th>
            <th>View</th>
      
        </tr>
      </thead>
      <tbody>
        <% notes.forEach(note => { %>
        <!-- row 1 -->
        <tr>
          <td>
            <div class="flex items-center space-x-3">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
            <% if (note.logo) { %>
                <!-- <img src="/images/<%= note.logo %>" alt="Logo" class="logo-image"> -->
                 <img src="<%= note.logo %>" alt="Logo" class="logo-image"> 
              <% }else{ %>
                <h3>no logo</h3>
                <% } %>
            </div>
        </div>
        <div>
          </td>
          <td><%= note.title.slice(0, 6) %></td>
          <td><%= note.kmPerMonth %></td>
          <td><%= note.price %></td>
          <td><%= note.truckType.slice(0, 6) %></td>
          <th>
            <button class="btn btn-primary btn-xs"><a href="/dashboard/view/<%= note.id %>">View Details</a></button>
          </th>
        </tr>
        <% }) %>
      <!-- foot -->
      <tfoot>
        <tr>
         
          <th>Logo</th>
            <th>Title</th>
            <th>Km/Month</th>
            <th>Price</th>
            <th>TruckType</th>
            <th>View</th>
        </tr>
      </tfoot>

    </table>
  </div>

  